[submodule "libs/chesto"]
	path = libs/chesto
	url = https://github.com/ThatzOkay/chesto.git
[submodule "libs/librpxloader"]
	path = libs/librpxloader
	url = https://github.com/wiiu-env/librpxloader.git
